/* css icon */
.icon.icoClose {
  display: block;
  position: relative;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  white-space: nowrap;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon.icoClose:before {
  content: "";
  position: absolute;
  top: 0;
  right: 7px;
  width: 1px;
  height: 15px;
  background: #000;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.icon.icoClose:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 15px;
  height: 1px;
  background: #000;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.icon.icoClose.white:before,
.icon.icoClose.white:after {
  background: #fff;
}
.icon[class*="icoArrow"] {
  display: inline-block;
  overflow: hidden;
  width: 8px;
  height: 8px;
  text-indent: 120%;
  white-space: nowrap;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.icon.icoArrowRight {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.icon.icoArrowLeft {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon.icoArrowTop {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.icon.icoArrowBottom {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.icon[class*="icoArrow"].white {
  border-color: #fff;
}
.icon.icoNav {
  display: block;
  width: 20px;
  height: 2px;
  color: #000;
  background: currentColor;
  box-shadow: 0 14px 0;
  margin: -8px auto 0;
  position: relative;
}
.icon.icoNav:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 2px;
  background: currentColor;
}
.icon.icoUser {
  overflow: hidden;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}
.icon.icoUser:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto 1px;
  border-radius: 50%;
  border: 2px solid #000;
}
.icon.icoUser:after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #000;
}
