<div class='instaWrap'>
    <div class='instaInner'>
        <h4><i class="fab fa-instagram"></i> Instagram <span>#designdr</span></h4>
        <!--@js(/js/instafeed.js)-->
        <!--@js(/js/insta.js)-->
        <ul id="instafeed"></ul>
    </div>
</div>

<div id="footer">
    <div class="inner">
        <span module="Layout_LogoBottom">
            <!--@css(/css/module/layout/logobottom.css)-->
            <a href="/index.html"><img src="{$logo}" alt="{$mall_name}" /></a>
        </span>

        <div module="Layout_footer">
            <!--@css(/css/module/layout/footer.css)-->
            <ul class="utilMenu">
                <li class="home"><a href="/index.html">홈</a></li>
                <li><a href="/shopinfo/company.html">회사소개</a></li>
                <li><a href="/member/agreement.html">이용약관</a></li>
                <li><a href="/member/privacy.html"><strong>개인정보처리방침</strong></a></li>
                <li><a href="/shopinfo/guide.html">이용안내</a></li>
            </ul>
            <p class="address">
                <span>법인명(상호) : {$company_name} </span> <span>대표자(성명) : {$president_name}</span> <span>사업자 등록번호 안내 : [{$company_regno}]</span> <span>통신판매업 신고 {$network_regno}</span> <span>{$biz_no_link}</span> <br />
                <span>전화 : {$phone}</span> <span>팩스 : {$fax}</span> <span>주소 : {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span><br />
                <span class="{$cpo_email|display}">개인정보보호책임자 : <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span><br />
                <span>Contact <strong><a href="mailto:{$email}">{$email}</a></strong> for more information.</span>
            </p>
            <p class="copyright">Copyright &copy; 2011 <strong>{$mall_name}</strong>. All rights reserved.</p>            
        </div>
    </div>
</div>