.topArea__statelogon { position:absolute; right:142px; top:42px; z-index:24; }
.topArea__statelogon a { display:inline-block; margin-left:25px; font-size:12px; color:#1e1e1e; text-transform:uppercase; text-decoration:none; }
.topArea__statelogon .count { display:; min-width:24px; padding:3px 0; font-size:13px; text-align:center; box-sizing:border-box; }