<!--@layout(/layout/basic/layout.html)-->

<div class="wrapper">
    <!--@css(/layout/basic/css/brand.css)-->
    <!-- brand -->
    <section class="brand">
        <div class="path">
            <span>현재 위치</span>
            <ol>
                <li><a href="/">Home</a></li>
                <li title="현재 위치">BRAND</li>
            </ol>
        </div>
        <div class="brand-content title">
            <h2 class="text">BRAND</h2>
            <h3 class="text">당신의 이야기가 담긴 <br> 특별한 공간<h3>
            <p>머무는 공간은 작품이 되고 매일의 일상은 예술이 되다. <br> 세상과는 다른 당신만의 색으로 당신만의 가치를 표현하는 공간.</p>
            <div class="picMain">        
                <picture class="RW">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand.jpg" width="100%" height="100%" alt="brand banner"/></picture>
                <picture class="RTB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand.jpg" width="100%" height="100%" alt="brand banner"/></picture>
                <picture class="RMB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_m.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_m.jpg" width="100%" height="100%" alt="brand banner"/></picture>
        	</div>
        </div>
    </section>
    <!--//brand -->
            
    <!--brand-article-->        
  	<section class="brand-article">
        <div class="article type-row" >
            <div class="desc">
                <h2>브렌딩 페이지에서는 다양한 템플릿이 <br> 제공되니 선택하여 사용하세요.</h2>
                <p>자동 처리된 커버리지들에서 시작 부분으로 일반적인 특성을 <br>포함하는 커버리지, 시간과 특별한 겹침의 정밀도 증가량을 저장한다.</p>
            </div>
            <div class="contents">
                <picture class="RW">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_01.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_01.jpg" width="100%" height="100%" alt="brand image"/></picture>
                <picture class="RTB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_01.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_01.jpg" width="100%" height="100%" alt="brand image"/></picture>
                <picture class="RMB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_01_m.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_01_m.jpg" width="100%" height="100%" alt="brand image"/></picture>
            </div>
        </div>
        <div class="article type-row" >
            <div class="desc">
                <h2>브렌딩 페이지에서는 다양한 템플릿이 <br> 제공되니 선택하여 사용하세요.</h2>
                <p>자동 처리된 커버리지들에서 시작 부분으로 일반적인 특성을 <br>포함하는 커버리지, 시간과 특별한 겹침의 정밀도 증가량을 저장한다.</p>
                <p>지도 보기 판은 일반적인 지도들을 위한 경계선, 북쪽 방향, <br>로고 또는 다른 유사한 지도 요소들을 포함한다. <br>수치 지도 보기판 다른 지도제작을 자동화하는데 출발점으로
                    <br>사용하기 위한 땅-물 경계와 같은 일반적인 지형 요소 경계를 포함하는 수치 지도, 보기판은시간을 절약하고 위상 중첩의 정밀도를 향상시킨다.
				</p>
            </div>
            <div class="contents">
                <picture class="RW">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_02.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_02.jpg" width="100%" height="100%" alt="brand image"/></picture>
                <picture class="RTB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_02.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_02.jpg" width="100%" height="100%" alt="brand image"/></picture>
                <picture class="RMB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_02_m.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_02_m.jpg" width="100%" height="100%" alt="brand image"/></picture>
                <div class="desc">
                    <h3>레이아웃 01</h3>
                    <p>블로그나 사이트상의 기본 구성 형식과 디자인양식.</p>
                </div>
                <div class="desc">
                    <h3>레이아웃 02</h3>
                    <p>협력사의 납품 물량과 판로 확대를 위해 협력사 매출 확대를 이뤄낼 다양한 지원 계획을 수립하고 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="article type-col" >
            <div class="desc">
                <h2>고객을 생각하여 남다른 서비스를 제공합니다.</h2>
                <p>자동 처리된 커버리지들에서 시작 부분으로 일반적인 특성을 <br>포함하는 커버리지, 시간과 특별한 겹침의 정밀도 증가량을 저장한다.</p>
            </div>
            <picture class="RW">
                <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_03.webp" type="image/webp">
                <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_03.jpg" width="100%" height="100%" alt="brand image"/></picture>
            <picture class="RTB">
                <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_03.webp" type="image/webp">
                <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_03.jpg" width="100%" height="100%" alt="brand image"/></picture>
            <picture class="RMB">
                <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_03_m.webp" type="image/webp">
                <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_03_m.jpg" width="100%" height="100%" alt="brand image"/></picture>
        </div>
        <div class="article type-row align-end" >
            <div class="desc">
                <h2>고객을 생각하여 남다른 서비스를 제공합니다.</h2>
                <p>자동 처리된 커버리지들에서 시작 부분으로 일반적인 특성을 <br>포함하는 커버리지, 시간과 특별한 겹침의 정밀도 증가량을 저장한다.</p>
                <picture class="RW">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_04.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_04.jpg" width="100%" height="100%" alt="brand image"/>
                </picture>
                <picture class="RTB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_04.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_04.jpg" width="100%" height="100%" alt="brand image"/>
                </picture>
                <picture class="RMB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_04_m.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_04_m.jpg" width="100%" height="100%" alt="brand image"/>
                </picture>
            </div>
            <div class="contents">
                <picture class="RW">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_05.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_05.jpg" width="100%" height="100%" alt="brand image"/>
                </picture>
                <picture class="RTB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_05.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_05.jpg" width="100%" height="100%" alt="brand image"/>
                </picture>
                <picture class="RMB">
                    <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_05_m.webp" type="image/webp">
                    <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/brand/img_brand_05_m.jpg" width="100%" height="100%" alt="brand image"/>
                </picture>
            </div>
        </div>
    </section>    
   <!--//brand-article-->
            
    <section class="middleBanner">
        <picture>
            <source srcset="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/midBanner_line.webp" type="image/webp">
            <img src="//img.echosting.cafe24.com/skinTheme/business/ko_KR/main/midBanner_line.png" alt="middle banner"/></picture>
        <div class="banner">
             <div class="text">
                 세상에 단 하나뿐인 <br> 특별함을 만나보세요.
                 <p>기업의 정보나 메세지를 전달해주세요.</p>
             </div>
        </div>
	</section>   
            
</div>
