@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "Nanum Gothic", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}
/* 사용자지정속성
    변수선언
    선언형식
    선택자{
      --변수명:값;
    }
    선택자의 후손들은 다 상속

    사용
    선택자{
      height:var
    }
*/
:root{
  --header-height:80px;
  --primary-color: #1ec545;
  --primary-color-dark:#0fb93c;
}
/* 공통 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
.flex-container{
  display: flex;
}
.flex-direction-column{
  flex-direction: column;
}
.test{
  background-color: #00f;
  min-height: 100px;
}
/* header */
header{
  position: fixed;
  width: 100%;
  height: 80px;
  height: var(--header-height);
  background-color: rgba(255,255,255,0.3);
}
header.active{
  background-color: var(--primary-color);
}
.header_wrap{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  /* display: flex;   .flex-container 선언*/
  justify-content: space-between;
  align-items: center;
}
.header_wrap .header_logo a{
  display: block;
  width: 90px;
  height: 20px;
  /* background: url(../image/header_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  background: url(../image/header_logo.png) no-repeat 50% 50%;
}
header.active .header_wrap .header_logo a{
  background-image: url(../image/header_logo_v2.png);
}
.header_wrap nav{
  height: var(--header-height);
}
header.active .header_wrap nav{
  display: none;
}
nav .gnb_menu{
  font-size: 0;
}
nav .gnb_menu li.gnb_menu_list,
.gnb_menu_list_recruit{
  display: inline-block;
}
nav .gnb_menu a.gnb_menu_item{
  position: relative;
  font-size: 15px;
  display: block;
  line-height: var(--header-height);
  margin: 0 30px;
  color: #000;
  font-weight: bold;
}
/* mouseover list */

nav .gnb_menu li.gnb_menu_list a.gnb_menu_item::before{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 1em;
  transform-origin: 100% 0;
  transition: transform 0.2s;
  transform: scaleX(0);
}
nav .gnb_menu li.gnb_menu_list:hover a.gnb_menu_item::before{
  transform: scaleX(1);
  transition: transform 0.2s;
  transform-origin: 0 0;
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap{
  /* depth2 , d1 마우스 호버할 때 드롭다운되는 메뉴 */
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
  display: none;  /* 테스트 후 display:flex 로 변경*/ 
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
nav .gnb_menu .gnb_menu_list:nth-child(6) ul.gnb_dropMenu_wrap{
  /* display: flex;
  justify-content: center;
  align-items: stretch; */
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li{
  position: relative;
  font-size: 14px;
  width: 190px;
  height: 367px;
  padding: 28px 0 0;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:before{
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background-color:rgba(255,255,255,0.2);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:last-child:after{
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background-color:rgba(255,255,255,0.2);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:hover{
  background-color: var(--primary-color-dark);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu{
  /* padding-left: 2em; */
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .depth_blank{
  margin-bottom: 14px;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu > li{
  margin-bottom: 7px;
  padding-left: 20px;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item{
  color: #fff;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item strong span{
  opacity: 1;  
  font-weight: bold;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item span{
  opacity: 0.8;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify:first-child{
  padding-top: 0;
  border-top: 0 none;
}

.header_util{
  display: flex;
}
.header_util .header_lang{
  margin-right: 2em;
}
.header_util .header_lang a{
  position: relative;
  color: #000;
  opacity: 1;
  font-size: 12px;
  padding: 0 0.5em;
}
header.active .header_util .header_lang a{
  color: #fff;
}
.header_util .header_lang a:first-child:after{
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: -3px;
  top: 0;
}
header.active .header_util .header_lang a:first-child:after{
  background-color: #fff;
}
.header_util .header_lang a[aria-selected="false"]{
  opacity: 0.7;
}
.header_util .sitemap_box{
  position: relative;
  width: 24px;
  height: 24px;
}
.header_util .sitemap_box .btn_sitemap{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0px none;
  cursor: pointer;
}
.header_util .sitemap_box .btn_line{
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000;
  right: 0;
  transition: all 0.2s;
}
.header_util .sitemap_box:hover .btn_line{
  background-color: var(--primary-color);
}
.header_util .sitemap_box .btn_line:nth-of-type(2){
  top: 2px;
  /* width:calc(24px - 4px); */
}
.header_util .sitemap_box .btn_line:nth-of-type(3){
  top: 10px;
  /* width:calc(24px - 2px); */
}
.header_util .sitemap_box .btn_line:nth-of-type(4){
  top: 18px;
}
header.active .header_util .sitemap_box .btn_line{
  background-color: #fff;
  transition: all 0.2s;
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(2){
  transform: rotate(-45deg) translate(-8px,8px);
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(3){
  opacity: 0;
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(4){
  transform: rotate(45deg) translate(-3px,-4px);
}
header .sitemap{
  display: none;
  position: fixed;
  left: 0;
  top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--primary-color);
}
header.active .sitemap{
  display: block;
}
/* container */

.container{
  padding: 80px 0 160px;
  background-color: #ccc; /*테스트용*/
  
}
