@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap");
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "Nanum Gothic", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial",
    "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}
/* 사용자지정속성
    변수선언
    선언형식
    선택자{
      --변수명:값;
    }
    선택자의 후손들은 다 상속

    사용
    선택자{
      height:var
    }
*/
:root {
  --header-height: 80px;
  --primary-color: #1ec545;
  --primary-color-dark: #0fb93c;
  --padding-h-pc:150px;
  --padding-h-m:50px; 
}
/* 공통 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
.flex-container {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.test {
  background-color: #00f;
  min-height: 100px;
}
/* header */
header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 80px;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.8);
}
header.active {
  background-color: var(--primary-color);
}
.header_wrap {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  /* display: flex;   .flex-container 선언*/
  justify-content: space-between;
  align-items: center;
}
@media (max-width:1439.8px){
  .header_wrap{
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width:992px){
  .header_wrap{
    padding-left: 50px;
    padding-right: 50px;
  }
}
.header_wrap .header_logo a {
  display: block;
  width: 90px;
  height: 20px;
  /* background: url(../image/header_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  background: url(../image/header_logo.png) no-repeat 50% 50%;
}
header.active .header_wrap .header_logo a {
  background-image: url(../image/header_logo_v2.png);
}
.header_wrap nav {
  height: var(--header-height);
}
@media (max-width:992px){
  .header_wrap nav{
    display: none !important;
  }
}
header.active .header_wrap nav {
  display: none;
}
nav .gnb_menu {
  font-size: 0;
}
nav .gnb_menu li.gnb_menu_list,
.gnb_menu_list_recruit {
  display: inline-block;
}
nav .gnb_menu a.gnb_menu_item {
  position: relative;
  font-size: 15px;
  display: block;
  line-height: var(--header-height);
  margin: 0 30px;
  color: #000;
  font-weight: bold;
}
/* mouseover list */

nav .gnb_menu li.gnb_menu_list a.gnb_menu_item::before,
nav .gnb_menu li.gnb_menu_list_recruit a.gnb_menu_item::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 1em;
  transform-origin: 100% 0;
  transition: transform 0.2s;
  transform: scaleX(0);
}
nav .gnb_menu li.gnb_menu_list:hover a.gnb_menu_item::before,
nav .gnb_menu li.gnb_menu_list_recruit:hover a.gnb_menu_item::before {
  transform: scaleX(1);
  transition: transform 0.2s;
  transform-origin: 0 0;
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap {
  /* depth2 , d1 마우스 호버할 때 드롭다운되는 메뉴 */
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
  display: none; /* 테스트 후 display:flex 로 변경*/
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
nav .gnb_menu .gnb_menu_list:nth-child(1) ul.gnb_dropMenu_wrap {
  /* display: flex; */
  /* display: flex;
  justify-content: center;
  align-items: stretch; */
}

nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li {
  position: relative;
  font-size: 14px;
  width: 190px;
  height: 367px;
  padding: 28px 0 0;
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:before {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:last-child:after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap > li:hover {
  background-color: var(--primary-color-dark);
}
nav .gnb_menu .gnb_menu_list ul.gnb_dropMenu_wrap li .gnb_dropMenu {
  /* padding-left: 2em; */
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .depth_blank {
  margin-bottom: 14px;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu > li {
  margin-bottom: 7px;
  padding-left: 20px;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item {
  color: #fff;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item strong span {
  opacity: 1;
  font-weight: bold;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .gnb_dropMenu_item span {
  opacity: 0.8;
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
nav ul.gnb_dropMenu_wrap li .gnb_dropMenu .classify:first-child {
  padding-top: 0;
  border-top: 0 none;
}
/*  ----------------------------------------------------------------------     */
nav .gnb_menu a.gnb_menu_item {
  position: relative;
}
nav .gnb_menu .gnb_menu_list_recruit:hover a.gnb_menu_item:after {
  content: "";
  display: block;
  position: absolute;
  right: -22px;
  bottom: 30px;
  background: url(../image/sprite.png) no-repeat;
  background-position: -59px 0px;
  width: 18px;
  height: 18px;
}

/* ----------------------------------------------------------------------     */

.header_util {
  display: flex;
}
.header_util .header_lang {
  margin-right: 2em;
}
.header_util .header_lang a {
  position: relative;
  color: #000;
  opacity: 1;
  font-size: 12px;
  padding: 0 0.5em;
}
header.active .header_util .header_lang a {
  color: #fff;
}
.header_util .header_lang a:first-child:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: -3px;
  top: 0;
}
header.active .header_util .header_lang a:first-child:after {
  background-color: #fff;
}
.header_util .header_lang a[aria-selected="false"] {
  opacity: 0.7;
}
.header_util .sitemap_box {
  position: relative;
  width: 24px;
  height: 24px;
}
.header_util .sitemap_box .btn_sitemap {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0px none;
  cursor: pointer;
}
.header_util .sitemap_box .btn_line {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000;
  right: 0;
  transition: all 0.2s;
}
.header_util .sitemap_box:hover .btn_line {
  background-color: var(--primary-color);
}
.header_util .sitemap_box .btn_line:nth-of-type(2) {
  top: 2px;
  /* width:calc(24px - 4px); */
}
.header_util .sitemap_box .btn_line:nth-of-type(3) {
  top: 10px;
  /* width:calc(24px - 2px); */
}
.header_util .sitemap_box .btn_line:nth-of-type(4) {
  top: 18px;
}
header.active .header_util .sitemap_box .btn_line {
  background-color: #fff;
  transition: all 0.2s;
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(2) {
  transform: rotate(-45deg) translate(-8px, 8px);
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(3) {
  opacity: 0;
}
header.active .header_util .sitemap_box .btn_line:nth-of-type(4) {
  transform: rotate(45deg) translate(-3px, -4px);
}
header .sitemap {
  display: none;
  position: fixed;
  left: 0;
  top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--primary-color);
}
header.active .sitemap {
  display: block;
}
/* container */

.container {
  padding: 80px 0 160px;
}
.main_slide {
  height: 750px;
}
@media (max-width:768px){
  .main_slide{
    height: calc(100vh - var(--header-height));
  }
}
.main_slide .swiper-button-prev,
.main_slide .swiper-button-next {
  width: 50px;
  height: 50px;
  background: url(../image/sprite.png) no-repeat;
  top: auto;
  bottom: 220px;
  /* border: 1px solid #f00; */
}
@media (max-width:768px){
  .main_slide .swiper-button-prev,
.main_slide .swiper-button-next {
  display: none;
}
}
.main_slide .swiper-button-prev {
  background-position: -295px -98px;
  left: calc(150px - 50px - 10px);
}
.main_slide .swiper-button-next {
  background-position: -345px -98px;
  right: calc(150px - 50px - 10px);
}
.main_slide .swiper-button-prev:after,
.main_slide .swiper-button-next:after {
  content: "";
}

.main_slide .swiper-slide {
}
.main_slide .swiper-slide picture{
  display: block;
  width: 100%;
  height: 100%;
}
.main_slide .swiper-slide picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}
.main_slide .swiper-scrollbar {
  top: auto;
  left: 150px;
  right: 150px;
  bottom: calc(220px + 27px);
  height: 2px;
  /* margin: 0 150px; */
  width: calc(100% - 320px);
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.main_slide .swiper-scrollbar-drag {
  background-color: #fff;
  /* position: relative; */
}
.main_slide .swiper-scrollbar-drag:before {
  content: "";
  display: block;
  position: absolute;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  /* z-index: 2; */
}
/* -------------------------------------------------------- */

.main_slide {
  position: relative;
}
.swiper-pagination {
  position: absolute;
  left: 150px;
  bottom: 100px;
  text-align: justify;
}
.swiper-pagination-fraction {
  color: #fff;
  font-size: 0;
}
.swiper-pagination-fraction .swiper-pagination-current {
  font-size: 12px;
  padding-right: 0.5em;
}
.swiper-pagination-fraction .swiper-pagination-current:after {
  content: "|";
  padding-left: 0.5em;
}
.swiper-pagination-fraction .swiper-pagination-total {
  font-size: 12px;
  opacity: 0.7;
}
@media (max-width:768px){
  .main_slide .swiper-scrollbar {
    bottom: calc(150px + 20px);
    left: calc(50px + 50px);
    right: 50px;
    width: calc(100% - 50px - 50px - 50px);
  }
  .main_slide .swiper-pagination-fraction {
    top: auto;
    bottom: calc(150px + 14px);
    left: 50px;
    width: auto;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
  }
}
/* ------------------------------------------ */

.main_slide .swiper-slide .slide-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main_slide .slide-info a.slide_info_box {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}
.main_slide .slide-info .slide_logo {
  position: absolute;
  right: 150px;
  bottom: 50px;
}
.main_slide .slide-info .slide_logo.teamnaver {
  width: 188px;
  height: 40px;
  background-image: url(../image/teamnaver_logo.gif);
  background-size: 188px 40px;
}
.main_slide .slide-info .slide_logo.naver {
  width: 156px;
  height: 40px;
  background-image: url(../image/sprite.png);
  background-position: -192px -1057px;
}
.main_slide .slide-info .slide_text_box {
  position: absolute;
  left: 0;
  bottom: 150px;
  padding: 0 var(--padding-h-pc);
}

.main_slide .slide-info .slide_text_box .slide_title strong {
  display: block;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2em;
  text-shadow: 
  1px 1px 2px rgba(255,0,0,0.8),
  3px 3px 2px rgba(0,255,0,0.8),
  5px 5px 2px rgba(0,0,255,0.8);
}
.main_slide .slide-info .slide_text_box .slide_text {
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width:768px){
  .main_slide .slide-info .slide_text_box {
    padding: 0 var(--padding-h-m);
  }
  .main_slide .slide-info .slide_text_box .slide_title {
    font-size: 2em;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  }
  .main_slide .slide-info .slide_text_box .slide_text {
    display: none;
  }
}

/* main_content */
.main_content{
  padding: 120px var(--padding-h-pc);
}
@media (max-width:1200px) {
  .main_content {
    padding: 120px var(--padding-h-m);
  }
}
.main_content ul.content_summary{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
ul.content_summary li.summary_container{
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 25%; 
  padding: 0 50px;
}
ul.content_summary li.summary_container:first-child{
  padding-left:0 ;
  width: calc(25% + 50px);
}
ul.content_summary li.summary_container:last-child{
  width: calc(25% - 50px);
}
ul.content_summary li.summary_container:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #efefef;
}

ul.content_summary li.summary_container:last-child:after {
  display: none;
}
@media all and (max-width:992px) {
  .main_content {
    padding-top: 150px;
  }

  ul.content_summary li.summary_container {
    width: 50%;
    margin-bottom: 100px;
  }

  ul.content_summary li.summary_container:first-child {
    width: 50%;
  }

  ul.content_summary li.summary_container:nth-child(3) {
    padding-left: 0;
  }

  ul.content_summary li.summary_container:nth-child(2),
  ul.content_summary li.summary_container:nth-child(4) {
    padding-right: 0;
  }

  ul.content_summary li.summary_container:nth-child(2):after {
    display: none;
  }

  ul.content_summary li.summary_container:last-child {
    width: 50%;
  }
}
@media (max-width:768px) {
  ul.content_summary li.summary_container {
    width: 100%;
    padding: 0;
    margin-bottom: 70px;
  }

  ul.content_summary li.summary_container:first-child {
    width: 100%;
  }

  ul.content_summary li.summary_container:last-child {
    width: 100%;
  }

  ul.content_summary li.summary_container:after {
    display: none;
  }
}

ul.content_summary h3.summary_title{
  font-style: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  /* display: inline-block;
  background-color: #ccc; */
}
ul.content_summary .desc_box{
  margin-bottom: 40px;
}
ul.content_summary .news_box .news_title{
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 1em;
  /* 한줄 말줄임을 위한 속성 설정 */
  display: block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  
}
ul.content_summary .news_box .news_text {
  color: #999;
  font-size: 15px;
  /* 여러줄 말줄임을 위한 속성 설정 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
ul.content_summary .desc_box .career_text {
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.content_summary .summary_stock{

}
.content_summary .summary_stock .stock_info_box{

}
.content_summary .stock_info_box .stock_price_box{
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.content_summary .stock_info_box .stock_price_box:after{
  content: '';
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.content_summary .stock_info_box .stock_price_box .price{
  font-size: 36px;
  letter-spacing: -1.7px;
  font-weight: bold;
  float: left;
}
.content_summary .stock_info_box .stock_price_box .unit{
  font-size: 12px;
}
.content_summary .stock_info_box .stock_price_box .figure{
  float: right;
  display: block;
  margin-top: 26px;
  position: relative;
}
/* ------------------------------------------------------------------------------------------------ */
.content_summary .stock_info_box .stock_price_box .figure:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 6px;
  transform: translate(-20px, -3px);
  background: url(../image/sprite.png) no-repeat;
  background-position: -318px -26px;
}
.content_summary .summary_stock .stock_info_box .date{
  text-align: right;
  font-size: 12px;
  color: #878890;
}

ul.content_summary a.summary_link{
  position: absolute;
  left: auto;
  bottom: 0;
  padding-right: 40px;
  color: #333;
  font-weight: bold;
}
.content_summary .summary_link .icon_arrow{
  position: absolute;
  right: 0;
  top: 0;
  width:18px;
  height: 18px;
  border-radius: 50%;
  /* background-color: #f00; */
}
.content_summary .summary_link .icon_arrow:after{
  content: '';
  display: block;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 5px; height: 8px;
  background: url(../image/sprite.png) no-repeat;
  background-position: -102px -50px;
}
.content_summary .summary_link:hover{
  text-decoration: underline;
}
.content_summary .summary_link:hover .icon_arrow{
  background-color: var(--primary-color);
}
.content_summary .summary_link:hover .icon_arrow:after{
  background-position: -108px -49px;
}
/* content_service */
.content_service{
  margin-top: 100px;
}
.content_service .service_list_container{
  display: flex;
  flex-wrap: wrap;
}
.content_service .service_list_container .service_thumbnail_box{
  /* flex-tiem  */
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; */
  flex: none;
  width: 33.3333%;
  position: relative;
  overflow: hidden;
}
.content_service .service_thumbnail_box .thumbnail{}
.content_service .service_thumbnail_box .thumbnail a{
  display: block;

}
.content_service .service_thumbnail_box .thumbnail a img{
  display: block;
  width: 100%;
}
.content_service .service_thumbnail_box .description{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding:50px 0 2em 30px ;
  /* background-color: rgba(0,0,0,0.5); */
  transform: translateY(100%);
  transition: transform 0.1s;
}

.content_service .service_thumbnail_box:hover .description {
  transform: translateY(0);
  transition: transform 0.3s;
}
.content_service .service_thumbnail_box .description dl {
  color: #fff;
  
}
.content_service .service_thumbnail_box .description dl dt{
  font-size: 22px;
  margin-bottom: 2px;
}
.content_service .service_thumbnail_box .description dl dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
