<div class="main_top_banner ez-align-center" data-ez-module="top-banner" data-ez-align="center" data-ez-role="style.color" data-ez-display="visible" data-ez="contents-0fq2bas-1">
	<div class="top_banner_box_inner">
		<div class="top_banner_text"><!-- 최상단 배너 수정하는곳 -->
			<a data-ez-role="a" href="#" data-href="#" target="_self" style="color: rgb(255, 255, 255); font-weight: normal;">포트폴리오용 쇼핑몰입니다. 상거래는 발생하지 않습니다.</a>
		</div><!-- //top_banner_text -->

		<div class="top_banner_close" data-ez-role="close">
			<input type="checkbox" name="chkbox" id="top_banner_box_cloase" value="1" data-ez-role="disable-term"><label for="top_banner_box_cloase" data-ez-role="disable-text">오늘 하루 보지 않기</label>
			<i aria-hidden="true" class="icon icoClose white">닫기</i>
		</div><!-- //top_banner_close -->
	</div><!-- //top_banner_box_inner -->
</div>
<header id="header" class="layout03" data-ez-layout="layout03" data-ez="contents-0ptree1-1">
	<ez-prop data-version="1.0.0">
		<ez-var data-prop="layout" data-namespace="ez.layout.header.layout" data-type="array">
			<ez-item data-id="layout00" data-name="1단 기본형"></ez-item>
			<ez-item data-id="layout01" data-name="1단 로고 중앙형"></ez-item>
			<ez-item data-id="layout04" data-name="2단 좌측형"></ez-item>
			<ez-item data-id="layout02" data-name="2단 혼합형"></ez-item>
			<ez-item data-id="layout03" data-name="2단 중앙형"></ez-item>
  	    </ez-var>
	</ez-prop>
	<div class="inner">
		<div class="toparea display_pc_only">
			<div class="toparea_shoppinginfo">
				<div module="Layout_multishopList">
					<button type="button" class="toggle">{$current_language} <i aria-hidden="true" class="icon icoArrowBottom"></i></button>
					<ul module="Layout_multishopListitem">
						<li class="{$selected_class}">
							<a href="//{$shop_domain}/">{$locale_language}</a>
						</li>
						<li class="{$selected_class}">
							<a href="//{$shop_domain}/">{$locale_language}</a>
						</li>
					</ul>
				</div>
                <div data-ez-group="shopping-info" data-ez-role="list">
					<ul module="Layout_shoppingInfo">
						<li class="{$use_mileage|display}"><a href="/myshop/mileage/historyList.html">{$mileage_name} <strong>{$mileage}</strong></a></li>
						<li class="{$use_deposit|display}"><a href="/myshop/deposits/historyList.html">{$deposit_name} <strong>{$deposit}</strong></a></li>
						<li class="{$use_coupon_cnt|display}"><a href="/myshop/coupon/coupon.html">쿠폰 <strong>{$coupon_cnt}</strong></a></li>
						<li class="{$use_interest_prd|display}"><a href="/myshop/wish_list.html">관심상품 <strong>{$interest_prd_cnt}</strong></a></li>
						<li class="{$use_like_product_cnt|display}">{$like_prd_tag}</li>
						<li class="{$use_basket_cnt|display}"><a href="/order/basket.html">장바구니 <strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a></li>
					</ul>
                </div>
			</div><!-- //toparea_shoppinginfo -->

			<div class="toparea_state" data-ez-group="top-util-menu" data-ez-role="list">
				<a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
				<a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
				<a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
				<a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
				<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
				<a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
				<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
				<div class="toparea_state_board">
					<a data-ez-item="board" href="#none">고객센터<i aria-hidden="true" class="icon icoArrowBottom"></i></a>
					<ul module="Layout_BoardInfo">
						<li><a href="{$link_board_list}">{$board_name}</a></li>
						<li><a href="{$link_board_list}">{$board_name}</a></li>
					</ul>
				</div>
			</div><!-- //toparea_state -->
		</div><!-- //toparea -->

		<div class="top_nav_box" id="top_nav_box">
			<div class="top_logo" module="Layout_LogoTop"><a href="/">{$mall_name}</a></div><!-- //top_logo -->

			<div data-ez-module="menu-main/1" data-ez-mode="manual">
        <div class="xans-element- xans-layout xans-layout-category top_category">
<ul><li><a href="/category/%EB%8C%80%EC%9A%A9%EB%9F%89-%EB%B0%A9%ED%96%A5%EC%A0%9C/23/">대용량 방향제</a><ul class="sub_cate01"><li><a href="/category/%EC%A4%91%EB%B6%84%EB%A5%98%EC%97%B0%EC%8A%B51/50/">중분류연습1</a></li><li><a href="/category/%EC%A4%91%EB%B6%84%EB%A5%98%EC%97%B0%EC%8A%B52/51/">중분류연습2</a></li></ul></li><li><a href="/category/%EB%94%94%ED%93%A8%EC%A0%80%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/24/">디퓨저선물세트</a></li><li><a href="/category/%EC%B0%A8%EB%9F%89%EC%9A%A9%EB%B0%A9%ED%96%A5%EC%A0%9C/25/">차량용방향제</a></li><li><a href="/category/%EB%94%94%ED%93%A8%EC%A0%80-%EB%AC%B4%EB%93%9C%EB%93%B1/49/">디퓨저 무드등</a></li><li><a href="/category/%EB%A6%AC%ED%95%84%EC%95%A1/26/">리필액</a></li><li><a href="https://thfk2491.cafe24.com/project-main.html">🎁크리스마스 파티모여라🎄</a></li></ul>
</div>
      </div><!-- //menu-main/1 -->

			<div class="top_mypage">
				<a href="javascript:;" class="eSearch"><!--@import(/svg/icon-search.html)--></a>
				<a href="/myshop/index.html"><!--@import(/svg/icon-user.html)--></a>
				<a href="/order/basket.html" module="Layout_orderBasketcount"><!--@import(/svg/icon-cart.html)--><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
			</div><!-- //top_mypage -->

			<div class="top_sidebar">
				<a href="javascript:;" class="eNavFold"><i aria-hidden="true" class="icon icoNav"></i></a>
			</div><!-- //top_sidebar -->
		</div><!-- //top_nav_box -->
	</div><!-- //inner -->
</header>
<div id="quick_search" data-ez="contents-1j1cygt-1">
	<div class="quick_searchClose"><img src="/SkinImg/img/close_black.svg" class="rotate"></div>
	<div module="Layout_SearchHeader">
		<!--
			$product_page=/product/detail.html
			$category_page=/product/list.html
		-->
		<!-- 검색창 문구 수정하는 곳 -->
		<fieldset>
			<legend>검색</legend>
			{$form.keyword}<button type="button" class="btnDelete">삭제</button><img src="/SkinImg/img/top_search_mo.svg" alt="검색" class="search_btn" onclick="{$action_search_submit}">
		</fieldset>
	</div><!-- //Layout_SearchHeader -->
</div>
<!--#ez="1/8"-->