<aside id="aside" module="layout_slidePackage" data-ez="contents-0wc59xr-1">
    <!--@css(/layout/basic/css/slideMenu.css)-->
	<!--@js(/layout/basic/js/slide_menu.js)-->
    <nav class="navigation-menu" role="navigation">
		<div class="slide_top_inner">
			<div class="slide_logo" module="Layout_LogoTop"><a href="/">{$mall_name}</a></div><!-- //slide_logo -->
			<button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>

			<div class="navigation_state" data-ez-group="top-util-menu" data-ez-role="list">
				<a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
				<a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
				<a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
				<a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
				<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
				<a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
				<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
			</div><!-- //navigation_state -->
		</div><!-- //navigation-menu -->

		<div class="nav_inner">
			<div class="tab_inner">
				<div data-ez-module="menu-side/1"><div id="slideCateList" class="navigation-menu__category">
  <ul id="slide_add_category"><li><a href="/category/%EB%8C%80%EC%9A%A9%EB%9F%89-%EB%B0%A9%ED%96%A5%EC%A0%9C/23/" class="view">대용량 방향제</a><ul class="sub_cate01"><li><a href="/category/%EC%A4%91%EB%B6%84%EB%A5%98%EC%97%B0%EC%8A%B51/50/" class="view">중분류연습1</a></li><li><a href="/category/%EC%A4%91%EB%B6%84%EB%A5%98%EC%97%B0%EC%8A%B52/51/" class="view">중분류연습2</a></li></ul></li><li><a href="/category/%EB%94%94%ED%93%A8%EC%A0%80%EC%84%A0%EB%AC%BC%EC%84%B8%ED%8A%B8/24/" class="view">디퓨저선물세트</a></li><li><a href="/category/%EC%B0%A8%EB%9F%89%EC%9A%A9%EB%B0%A9%ED%96%A5%EC%A0%9C/25/" class="view">차량용방향제</a></li><li><a href="/category/%EB%94%94%ED%93%A8%EC%A0%80-%EB%AC%B4%EB%93%9C%EB%93%B1/49/" class="view">디퓨저 무드등</a></li><li><a href="/category/%EB%A6%AC%ED%95%84%EC%95%A1/26/" class="view">리필액</a></li><li><a href="https://thfk2491.cafe24.com/project-main.html" class="view">🎁크리스마스 파티모여라🎄</a></li></ul>
  </div></div><!-- //menu-side/1 -->

				<div class="community_tab">
					<div class="side_title">고객센터<span></span></div>
					<div class="board cboth">
						<ul module="Layout_BoardInfo"><!-- 슬라이드 게시판 자동출력 -->
							<li><a href="{$board_list_url}">{$board_name}</a></li>
							<li><a href="{$board_list_url}">{$board_name}</a></li>
						</ul>
					</div>
				</div><!-- //community_tab -->
			</div><!-- //tab_inner -->

			<div module="Layout_multishopList">
				<button type="button" class="toggle lang_title">LANGUGE : {$current_language}<span></span></button>
				<ul module="Layout_multishopListitem">
					<li class="{$selected_class}">
						<a href="//{$shop_domain}/">{$locale_language}</a>
					</li>
					<li class="{$selected_class}">
						<a href="//{$shop_domain}/">{$locale_language}</a>
					</li>
				</ul>
			</div>
		</div><!-- //nav_inner -->
	</nav>
</aside>
<!--#ez="1/6"-->